<!DOCTYPE html>
<html>
<head>
    <title>Weather Station</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<style>
body {
    background: #000000;
}
</style>
</head>
<body
<div class="container-fluid">
    <div class="row">
    <div class="text-danger"><h1><u><b>Weather Station</b></u></h1>
    </div>
    </div>
    </div>
    <main>
        <div class="container-fluid">
        <div class="row">
        <div class="col-md-5 text-center border border-primary text-secondary"><u>Temperature</u> 
            <h1><p class="weather-item">{{ temp.fahrenheit|floatformat:1 }}&deg;F <span class="weather-sub">{{ temp.celsius|floatformat:1 }}&deg;C</span></p></h1>
            <h6>Found {{ tcount }} results.</h6>
            <h6>L{{temp_min|floatformat:1}}/H{{temp_max|floatformat:1}}</h6>
        </div>
        <div class="col-md-5 text-center border border-primary text-danger"><u>Humidity</u>
            <h1></h1>
            <h1>{{ RH.rh|floatformat:1 }}%</h1>
            <h6>Found {{ hcount }} results.</h6>
            <h6>L{{RH_min|floatformat:1}}/H{{RH_max|floatformat:1}}</h6>
        </div>
        <div class="col-md-5 text-center border border-primary text-primary"><u>Time</u>
            <h1>{% now "h:ia" %}</h1>
            <h5>Chicago Time Zone</h5>
        </div>
        <div class="col-md-5 text-center border border-primary text-warning"><u>Air Pressure</u>
            <h1></h1>
            <h1>{{ BP.pressure|floatformat:1 }}mb</h1>
            <h6>Found {{ pcount }} results.</h6>
            <h6>L{{BP_min|floatformat:1}}/H{{BP_max|floatformat:1}}</h6>
        
        </div>
    </div>
</div>
</div>
  <div id="graphs" class="container graphs">
        <div class="row"> <!-- this horizontal row will hold our weather display -->
            <div class="col-md-4"> <!-- block 1 (left) -->
                <div class="weather-block rounded">
                    
        <canvas id="tempChart" width="500" height="400"></canvas>

        <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.0.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
        <script type="text/javascript">
            $.get('/chart/temp', function(data) {
                var ctx = $("#tempChart").get(0).getContext("2d");
                new Chart(ctx, {
                    type: 'line',
                    data: data,
                    options: {
                        responsive: true
                    }
                });
            });
        </script>
                </div>
            </div>
            <div class="col-md-4"> <!-- block 2 (middle) -->
                <div class="weather-block rounded">
                    
        <canvas id="rhChart" width="500" height="400"></canvas>

        <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.0.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
        <script type="text/javascript">
            $.get('/chart/RH', function(data) {
                var ctx = $("#rhChart").get(0).getContext("2d");
                new Chart(ctx, {
                    type: 'line',
                    data: data,
                    options: {
                        responsive: true
                    }
                });
            });
        </script>
                </div>
            </div>
            <div class="col-md-4"> <!-- block 3 (right) -->
                <div class="weather-block rounded">
                    
        <canvas id="bpChart" width="500" height="400"></canvas>

        <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.0.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
        <script type="text/javascript">
            $.get('/chart/BH', function(data) {
                var ctx = $("#bpChart").get(0).getContext("2d");
                new Chart(ctx, {
                    type: 'line',
                    data: data,
                    options: {
                        responsive: true
                    }
                });
            });
        </script>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="row">
 <img src="https://wallpapercave.com/wp/ChtHiPv.jpg" alt="Tropical Beach" class="img">
 </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>